@model IEnumerable<SuiviFitness.Models.Exercice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomExercice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objectif)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomExercice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objectif.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDExercice">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDExercice">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDExercice">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
